<?xml version="1.0"?>
<config>
    <modules>
        <Toonvd_ConfigurableCheckout>
            <version>0.1.0</version>
        </Toonvd_ConfigurableCheckout>
    </modules>
    <global>
        <helpers>
            <toonvd_configurablecheckout>
                <class>Toonvd_ConfigurableCheckout_Helper</class>
            </toonvd_configurablecheckout>
        </helpers>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Toonvd_ConfigurableCheckout_Block_Checkout_Onepage</onepage>
                    <onepage_billing>Toonvd_ConfigurableCheckout_Block_Checkout_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
            <toonvd_configurablecheckout>
                <class>Toonvd_ConfigurableCheckout_Block</class>
            </toonvd_configurablecheckout>
        </blocks>
        <models>
            <toonvd_configurablecheckout>
                <class>Toonvd_ConfigurableCheckout_Model</class>
            </toonvd_configurablecheckout>
        </models>
    </global>
    <frontend>
        <secure_url>
            <configurablecheckout>/configurablecheckout</configurablecheckout>
        </secure_url>
        <routers>
            <configurablecheckout>
                <use>standard</use>
                <args>
                    <module>Toonvd_ConfigurableCheckout</module>
                    <frontName>configurablecheckout</frontName>
                </args>
            </configurablecheckout>
        </routers>
        <layout>
            <updates>
                <toonvd_configurablecheckout module="Toonvd_ConfigurableCheckout">
                    <file>toonvd_configurablecheckout.xml</file>
                </toonvd_configurablecheckout>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <toonvd_configurablecheckout>
                        <class>toonvd_configurablecheckout/observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </toonvd_configurablecheckout>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <toonvd_configurablecheckout>
                        <class>toonvd_configurablecheckout/observer</class>
                        <method>controller_action_predispatch_checkout_onepage_saveBilling</method>
                    </toonvd_configurablecheckout>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
        </events>
    </frontend>
</config> 